body {
    background: #fff;
}

.snowflake {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url(./Snezhinka.png);
}

.block1 { 
    left: 100;
    top: 100;
}

.block2 { 
    left: 100;
    top: 400;
}

.block3 { 
    left: 100;
    top: 700;
}

.block4 { 
    left: 400;
    top: 100;
}

.block5 { 
    left: 400;
    top: 300;
}

.block6 { 
    left: 400;
    top: 500;
}

.block7 { 
    left: 400;
    top: 700;
}

.block8 { 
    left: 700;
    top: 100;
}

.block9 { 
    left: 700;
    top: 400;
}

.block10 { 
    left: 700;
    top: 700;
}
